<%- include(includes  + '/header') -%>
    <h1>Hi logged user! 
        <form action = "/logout" method = "post">
            <button class = 'btn btn-success'>Logout</button>
        </form>
    </h1>
    <main class = "main-container">
        <%- include(includes + '/aside_nav') -%> 
        <section class = "content">
        </section>
    </main>
<%- include(includes + '/footer') -%>