<%- include('../includes/header') %>
    <header class = "main-header">
        <a href = "/" class = "home-link">Home</a>
        <nav>
            <ul>
                <a href = "/login" class = "home-nav-link">Login</a>
                <a href = "/signup" class = "home-nav-link">Sign up</a>
            </ul>
        </nav>
    </header>
    <h1>Hello to test</h1>
<%- include('../includes/footer') %>