<aside class = "aside-nav">
    <nav>
        <ul>
            <a href = "/user" class = "aside-nav-link">
                <li>Menu de inicio</li>
            </a>
            <a href = "/user/products" class = "aside-nav-link">
                <li>Productos</li>
            </a>
            <a href = "#" class = "aside-nav-link">
                <li>Lorem ipsum</li>
            </a>
            <a href = "#" class = "aside-nav-link">
                <li>Lorem ipsum</li>
            </a>
            <a href = "#" class = "aside-nav-link">
                <li>Lorem ipsum</li>
            </a>
        </ul>
    </nav>
</aside>