<aside class = "aside-nav">
    <nav>
        <ul>
            <a href = "/analist" class = "aside-nav-link">
                <li>Menu de inicio</li>
            </a>
            <a href = "/analist/solutions" class = "aside-nav-link">
                <li>Soluciones</li>
            </a>
            <a href = "#" class = "aside-nav-link">
                <li>Lorem ipsum</li>
            </a>
            <a href = "#" class = "aside-nav-link">
                <li>Lorem ipsum</li>
            </a>
            <a href = "#" class = "aside-nav-link">
                <li>Lorem ipsum</li>
            </a>
        </ul>
    </nav>
</aside>