<%- include('../../includes/header') -%>
    <h1>Hi logged user! <form action = "/logout" method = "post"><button class = 'btn btn-success'>Logout</button></form></h1>
<%- include('../../includes/footer') -%>